<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ColorAdmin")
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ColorAdmin")
    <link href="/Content/ColorAdmin/theme/default.css" rel="stylesheet" id="theme" />
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    
    <!-- begin #page-container -->
    <div id="page-container" class="page-sidebar-fixed page-header-fixed ">

       
        @Html.Partial("~/Views/Shared/_Header_Menu.cshtml")
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <script type="text/javascript">
            handlePixelAdminMenuExtended();
        </script>

        <!-- begin #content -->
        <script type="text/javascript">
            handlePixelAdminMenuExtended();
        </script>
        
        <div id="Body-container" class="fade content container-fluid">
            @RenderBody()
        </div>
        <!-- end #content -->

        @Html.Partial("~/Views/Shared/_Theme_Panel.cshtml")

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->

   
    @Scripts.Render("~/bundles/switAlert")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script>
		$(document).ready(function() {
		    
		    setTimeout(function () {
		        App.init();
		    }, 20);

		   
		   
			Dashboard.init();
		});
    </script>
</body>
</html>
